.devices img {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.devices h2 {
    margin-bottom: 10px;
}

.devices p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.devicesMeta {
    font-size: 14px;
    margin-bottom: 15px;
}

.devicesMeta *{
    display: inline-block;
}

/*  CUSTOM DEVICES STYLING    */
.device a {
    text-decoration: none;
    color: black;
}

.device a:hover {
    text-decoration: underline;
    color: #444444;
}

.device + .device {
    display: none;
}

.devices {
    background-color: rgba(228, 64, 110, 0.7);
    margin: 30px;
    padding: 30px;
}

.editNewsMeta {
    float: right;
    font-size: 25px;
}

.top10Devices {
    float: right;
    margin-left: 15px;
    height: 382px;
}

.top10Devices tr {
    cursor: pointer;
}

.top10Devices h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.top10Devices table {
    font-size: 25px;
    margin: auto;
    margin-top: -7px;
    border-spacing: 0 10px;
    text-align: center;
}

.selectedDevice {
    background-color: #203de9;
    color: white;
}

.deviceRang {
    width: 40px;
}

.deviceName {
    width: 200px;
}

.devicePopularity {
    width: 70px;
}

/* EDIT DATA    */
/*  SINGLE NEWS */
.singleNews, .singleReview {
    margin: 30px;
    padding: 30px;
    background-color: rgba(228, 64, 110, 0.7);
}

.singleNews img, .singleReview img {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.singleNews h2, .singleReview h2 {
    margin-bottom: 10px;
}

.singleNews p, .singleReview p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.singleNewsMeta , .singleReviewMeta {
    font-size: 14px;
    margin-bottom: 15px;
}

.singleNewsMeta *, .singleReviewMeta *{
    display: inline-block;
}

/*  SINGLE REVIEWS  */
.singleReview {
    background-color: rgba(233, 204, 32, 0.7);
}

/*  AUTHOR    */
.author {
    margin: 30px;
    padding: 30px;
    border: 5px solid #b6b6b6;
}

.author img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.author h2 {
    margin-bottom: 20px;
}

.author p {
    margin-bottom: 0px;
}

/*  COMMENT */
.comment {
    margin: 30px;
}

.comment h3 {
    margin-bottom: 10px;
}

.comment textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
}

.commentButton, .saveButton {
    margin-top: 10px;
    width: 150px;
    height: 39px;
    background-color: #4caf50;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.saveButton {
    margin-left: 30px;
}

.cancelButton {
    margin-top: 10px;
    width: 150px;
    height: 39px;
    background-color: #c4393e;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

/*  VIEW COMMENTS   */
.viewComments {
    margin: 30px;
}

.singleComment {
    padding: 15px;
    background-color: #aaaaaa;
}

.singleComment:not(:last-of-type) {
    margin-bottom: 15px;
}

.singleCommentMeta {
    float: right;
    font-size: 25px;
}

.singleComment h4 {
    margin-bottom: 10px;
}

