.lastNewsAndReviews {
    background-color: #2d2d2d;
    color: #f2f2f2;
    margin-bottom: 30px;
}

.lastNewsAndReviews h2 {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 3px solid #c4393e;
}

.newsReviews {
    width: 360px;
    display: inline-block;
    margin-bottom: 30px;
}

.newsReviews:first-of-type {
    margin-left: 30px;
}

.newsReviews:not(:last-of-type) {
    margin-right: 26px;
}

.newsReviews h3 {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.newsReviews p {
    margin-left: 20px;
    margin-right: 20px;
}

.newsReviewsMeta {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.newsReviewsMeta p {
    margin: 0px;
}

.newsReviewsMeta * {
    display: inline-block;
}
