nav {
    text-align: center;
    height: 52px;
    background-color: #1b1b1b;
}

/*  NAVIGATION  */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: #FFFFFF;
    display: inline-block;
}

/*  HYPERLINKS */
nav ul li a {
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;

    min-width:140px;
    display: block;
    text-align: center;
    line-height: 52px;
    text-decoration: none;
}

nav ul .home a:hover{
    background-color: #eb9812;
}

nav ul .news a:hover{
    background-color: #e4406e;
}

nav ul .reviews a:hover{
    background-color: #e9cc20;
}

/*  SEARCH AND LOGIN    */

