nav {
    text-align: center;
    height: 52px;
    background-color: #1b1b1b;
}

/*  NAVIGATION  */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav * {
    color: #FFFFFF;
    display: inline-block;
}

/*  HYPERLINKS */
nav a {
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;

    min-width:140px;
    display: block;
    text-align: center;
    line-height: 52px;
    text-decoration: none;
}

.home a:hover{
    background-color: #eb9812;
}

.news a:hover{
    background-color: #e4406e;
}

.reviews a:hover{
    background-color: #e9cc20;
}

/*  SEARCH AND LOGIN    */
.searchAndLogin {
    float:right;
    line-height: 52px;
    font-size: 20px;
    margin-right: 30px;
}

.searchAndLogin i:last-of-type {
    margin-left: 20px;
}

.searchInput {
    visibility: hidden;
}
