.review img, .devices img {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.review h2, .devices h2 {
    margin-bottom: 10px;
}

.review p, .devices p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.reviewMeta, .devicesMeta {
    font-size: 14px;
    margin-bottom: 15px;
}

.reviewMeta *, .devicesMeta *{
    display: inline-block;
}

/*  CUSTOM REVIEW STYLING    */
.review {
    background-color: rgba(228, 64, 110, 0.7);
    margin: 30px;
    padding: 30px;
}

.specifications {
    float: right;
    width: 30%;
    height: 382px;
}

.specifications h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.specInfo {
    font-size: 20px;
    margin: auto;
}

.specInfo i, .bigger {
    font-size: 35px;
}

.specInfoIcon {
    width: 100px;
    text-align: center;
}

/*  CUSTOM DEVICES STYLING    */
.devices {
    background-color: rgba(233, 204, 32, 0.7);
    margin: 30px;
    padding: 30px;
}

.top10Devices {
    float: right;
    margin-left: 15px;
    height: 382px;
}

.top10Devices h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.top10Devices table {
    font-size: 25px;
    margin: auto;
    margin-top: -7px;
    border-spacing: 0 10px;
    text-align: center;
}

.selectedDevice {
    background-color: #203de9;
    color: white;
}

.deviceRang {
    width: 40px;
}

.deviceName {
    width: 200px;
}

.devicePopularity {
    width: 70px;
}