@media only screen
and (min-width: 768px)
and (max-width: 1023px) {
    nav {
        width: 768px;
        height: 52px;
        background-color: #1b1b1b;
    }

    /*  NAVIGATION  */
    nav ul {
        position: relative;
        left: 50%;
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav * {
        color: #FFFFFF;
        display: inline-block;
    }

    /*  HYPERLINKS */
    nav a {
        color: #fafafa;
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        min-width: 140px;
        display: block;
        text-align: center;
        line-height: 52px;
        text-decoration: none;
    }

    .home a:hover {
        background-color: #eb9812;
    }

    .news a:hover {
        background-color: #e4406e;
    }

    .reviews a:hover {
        background-color: #e9cc20;
    }

    /*  LOGIN  */
    .login {
        float: right;
        margin-right: 30px;
    }

    .login i {
        line-height: 52px;
        font-size: 22px;
        cursor: pointer;
    }

    /*login modal*/
    .loginDiv {
        display: block;
        width: 600px;
        height: 580px;
    }

    .register {
        display: none;
        width: 600px;
        height: 658px;
    }

    .forgotPassword {
        display: none;
        width: 600px;
        height: 502px;
    }

    .loginModal {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(140, 140, 140, 0.6); /* Black w/ opacity */
    }

    .loginModal form {
        position: fixed;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        background-color: #333333;
        border: 3px solid #272727;
    }

    .loginModalIcon {
        width: 100%;
        text-align: center;
    }

    .loginModalIcon i:first-of-type {
        float: right;
        margin-right: 15px;
        margin-top: 15px;
        font-size: 25px;
        line-height: 20px;
    }

    .loginModalIcon i:last-of-type {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 50px; /*close icon modification*/
        font-size: 200px;
        line-height: 200px;
        cursor: default;
    }

    .loginModalUserInput label {
        margin-left: 15px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .loginModalUserInput label:not(:first-of-type) {
        margin-top: 15px;
    }

    .loginModalUserInput input {
        margin-left: 15px;
        width: 570px;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        background-color: #6a6a6a;
    }

    .loginModalUserInput button {
        margin-top: 30px;
        margin-left: 15px;
        width: 570px;
        height: 39px;
        background-color: #4caf50;
        border: none;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
    }

    .loginModalAction {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: #6a6a6a;
        border-top: 3px solid #272727;
    }

    .loginModalAction * {
        display: inline-block;
    }

    .loginModalAction button {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
        height: 39px;
        width: 100px;
        background-color: #f44336;
        text-align: center;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    .loginModalAction a {
        float: right;
        line-height: 59px;
        font-family: 'Raleway', sans-serif;
        margin-right: 15px;
        min-width: auto;
    }

    .loginModalAction a:hover {
        text-decoration: underline;
    }

    /*  SEARCH  */
    .search {
        float: right;
        margin-right: 15px;
    }

    .search input[type=text] {
        line-height: 52px;
        width: 40px;
        font-size: 16px;
        border: none;
        box-sizing: border-box;
        background-color: #1b1b1b;
        background-image: url('../../images/search.png');
        background-position: 10px center;
        background-repeat: no-repeat;
        padding-left: 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        cursor: pointer;
    }

    .search input[type=text]:focus {
        width: 100px;
        background-color: #6a6a6a;
        cursor: text;
    }
}


