<script>

$(document).ready(function() {
    $('button[name="login"]').click(function(e) {

        if($(".loginDiv")[0].checkValidity()) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "http://localhost:8000/login",
                headers: {"X-CSRFToken": getCookie("csrftoken")},
                data: {
                    username: $('input[name="usernameLogin"]').val(),
                    password: $('input[name="passwordLogin"]').val()
                },

                success: function (response) {
                    if(response['result'] == "success") {

                        closeLoginDialog();
                        location.reload();

                    } else if(response['result'] == "fail") {

                        $(".errorMessage").css("visibility", "visible");
                        setTimeout(function(){$(".errorMessage").css("visibility", "hidden")}, 5000);

                    }
                }
            });
        }
    });

    $('i[name="logout"]').click(function(e) {

        e.preventDefault();

        $.ajax({
            type: "POST",
            url: "http://localhost:8000/logout",

            success: function (response) {
                if(response['result'] == "success") {

                    location.reload();

                } else if(response['result'] == "fail") {

                    $(".errorMessage").css("visibility", "visible");
                    setTimeout(function(){$(".errorMessage").css("visibility", "hidden")}, 5000);

                }
            }
        });
    });

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
});



</script>

<nav>
    <div id="navigationAnchor"></div>

    <ul>
        <li class="home"><a href="../index.html">HOME</a></li>
        <li class="news"><a href="../news/overview.html?page=1">NEWS</a></li>
        <li class="reviews"><a href="../reviews/overview.html?page=1">REVIEWS</a></li>
    </ul>

    <div class="loginAndSearchSmall">
        <div class="login">

            {% if user.is_authenticated %}

                <i onclick="openLoginDialog()" class="fa fa-cog" aria-hidden="true"></i>
                <i name="logout" style="margin-left: 10px" class="fa fa-sign-out" aria-hidden="true"></i>

            {% else %}

                <i onclick="openLoginDialog()" class="fa fa-user" aria-hidden="true"></i>

                <div class="loginModal">

                    <!-- LOGIN -->
                    <form class="loginDiv">
                        {% csrf_token %}
                            <div class="loginModalIcon">
                                <i onclick="closeLoginDialog()" class="fa fa-times" aria-hidden="true"></i>

                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                            </div>

                            <div class="errorMessage" style="visibility: hidden">

                                <i class="fa fa-exclamation" aria-hidden="true"></i>
                                <p>Username and/or password are incorrect.</p>

                            </div>

                            <div class="loginModalUserInput">
                                <label>Username</label>
                                <input type="text" placeholder="Enter username" name="usernameLogin" required>

                                <label>Password</label>
                                <input type="password" placeholder="Enter password" name="passwordLogin" required>

                                <button type="submit" name="login">Login</button>
                            </div>

                            <div class="loginModalAction">
                                <button onclick="closeLoginDialog()" type="button" class="cancel">Cancel</button>
                                <a href="#" onclick="showForgotPasswordDialog()">Forgot password?</a>
                                <a href="#" onclick="showRegisterDialog()">Register</a>
                            </div>
                    </form>

                        <!-- REGISTER -->
                    <form class="register" action="#">
                        <div class="loginModalIcon">
                            <i onclick="closeLoginDialog()" class="fa fa-times" aria-hidden="true"></i>

                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </div>

                        <div class="loginModalUserInput">
                            <label>Email</label>
                            <input type="email" placeholder="Enter email" name="email" required>

                            <label>Username</label>
                            <input type="text" placeholder="Enter username" name="username" required>

                            <label>Password</label>
                            <input type="password" placeholder="Enter password" name="password" required>

                            <button type="submit">Register</button>
                        </div>

                        <div class="loginModalAction">
                            <button onclick="closeLoginDialog()" type="button" class="cancel">Cancel</button>
                            <a href="#" onclick="showLoginDivDialog()">Login</a>
                        </div>
                    </form>

                    <!-- FORGOT PASSWORD -->
                    <form class="forgotPassword" action="#">
                        <div class="loginModalIcon">
                            <i onclick="closeLoginDialog()" class="fa fa-times" aria-hidden="true"></i>

                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                        </div>

                        <div class="loginModalUserInput">
                            <label>Email</label>
                            <input type="email" placeholder="Enter email" name="email" required>

                            <button type="submit">Reset password</button>
                        </div>

                        <div class="loginModalAction">
                            <button onclick="closeLoginDialog()" type="button" class="cancel">Cancel</button>
                            <a href="#" onclick="showLoginDivDialog()">Login</a>
                        </div>
                    </form>

                </div>

            {% endif %}


        </div>


        <div class="search">
            <form action="#" method="post">
                <input type="text" name="search" placeholder="Search..." />
            </form>
        </div>
    </div>
</nav>
