@media only screen
and (min-width: 1024px)
and (max-width: 1223px) {

    .devices img {
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .devices h2 {
        margin-bottom: 10px;
    }

    .devices p {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .devicesMeta {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .devicesMeta * {
        display: inline-block;
    }

    /*  CUSTOM DEVICES STYLING    */
    .device a {
        text-decoration: none;
        color: black;
    }

    .device a:hover {
        text-decoration: underline;
        color: #444444;
    }

    .device + .device {
        display: none;
    }

    .devices {
        background-color: rgba(228, 64, 110, 0.7);
        margin: 30px;
        padding: 30px;
    }

    .editNewsMeta {
        float: right;
        font-size: 25px;
    }

    .top10Devices {
        float: right;
        margin-left: 15px;
        height: 382px;
    }

    .top10Devices tr {
        cursor: pointer;
    }

    .top10Devices h3 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
    }

    .top10Devices table {
        font-size: 25px;
        margin: auto;
        margin-top: -7px;
        border-spacing: 0 10px;
        text-align: center;
    }

    .selectedDevice {
        background-color: #203de9;
        color: white;
    }

    .deviceRang {
        width: 40px;
    }

    .deviceName {
        width: 200px;
    }

    .devicePopularity {
        width: 70px;
    }

    /* EDIT DATA    */
    /*  SINGLE NEWS */
    .singleNews {
        margin: 30px;
        padding: 30px;
        background-color: rgba(228, 64, 110, 0.7);
    }

    .singleNews img {
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .singleNews h2 {
        margin-bottom: 10px;
    }

    .singleNews p {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .singleNewsMeta {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .singleNewsMeta * {
        display: inline-block;
    }

    /*  AUTHOR    */
    .author {
        margin: 30px;
        padding: 30px;
        border: 5px solid #b6b6b6;
    }

    .author img {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 50%;
    }

    .author h2 {
        margin-bottom: 20px;
    }

    .author p {
        margin-bottom: 0px;
    }

    /*  COMMENT */
    .comment {
        margin: 30px;
    }

    .comment h3 {
        margin-bottom: 10px;
    }

    .comment textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
    }

    .commentButton, .saveButton {
        margin-top: 10px;
        width: 150px;
        height: 39px;
        background-color: #4caf50;
        border: none;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
    }

    .saveButton {
        margin-left: 30px;
    }

    .cancelButton {
        margin-top: 10px;
        width: 150px;
        height: 39px;
        background-color: #c4393e;
        border: none;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
    }

    /*  VIEW COMMENTS   */
    .viewComments {
        margin: 30px;
    }

    .singleComment {
        padding: 15px;
        background-color: #aaaaaa;
    }

    .singleComment:not(:last-of-type) {
        margin-bottom: 15px;
    }

    .singleCommentMeta {
        float: right;
        font-size: 25px;
    }

    .singleComment h4 {
        margin-bottom: 10px;
    }

    /*  EDIT NEWS   */
    .singleNews input, .singleNews textarea, .authorPickImage input, .author textarea {
        line-height: 30px;
        color: white;
        font-size: 14px;
        border: none;
        box-sizing: border-box;
        background-color: #6a6a6a;
        padding-left: 10px;
    }

    .singleNewsPickImage, .authorPickImage {
        float: left;
        width: 300px;
    }

    .singleNewsPickImage img, .authorPickImage img {
        float: none;
        display: block;
        margin: auto;
    }

    .authorPickImage {
        margin-top: 80px;
    }

    .pickImage {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 290px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .singleNewsPickTitleDate {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .pickTitle {
        width: 300px;
        margin-left: 10px;
    }

    .pickDate {
        width: 180px;
        margin-left: 49px;
        margin-top: 10px;
    }

    .singleNewsPickDescription {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .pickDescription {
        width: 66%;
        height: 150px;
    }

    .pickText {
        width: 100%;
        height: 100%;
    }

    .authorPickImage input {
        width: 280px;
    }

    .pickUserDescription {
        width: 66%;
        height: 280px;
    }
}



