{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css' %}/font-awesome/css/font-awesome.min.css">

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="{% static 'css' %}/big/general.css">
    <link rel="stylesheet" href="{% static 'css' %}/big/logo.css">
    <link rel="stylesheet" href="{% static 'css' %}/big/navigation.css">
    <link rel="stylesheet" href="{% static 'css' %}/big/trending.css">
    <link rel="stylesheet" href="{% static 'css' %}/big/exposedNews.css">
    <link rel="stylesheet" href="{% static 'css' %}/big/devices.css">
    <link rel="stylesheet" href="{% static 'css' %}/big/lastNewsAndReviews.css">
    <link rel="stylesheet" href="{% static 'css' %}/big/pagination.css">
    <link rel="stylesheet" href="{% static 'css' %}/big/footer.css">

    <link rel="stylesheet" href="{% static 'css' %}/medium-big/general.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-big/logo.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-big/navigation.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-big/trending.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-big/exposedNews.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-big/devices.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-big/lastNewsAndReviews.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-big/pagination.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-big/footer.css">

    <link rel="stylesheet" href="{% static 'css' %}/medium-small/general.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-small/logo.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-small/navigation.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-small/trending.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-small/exposedNews.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-small/devices.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-small/lastNewsAndReviews.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-small/pagination.css">
    <link rel="stylesheet" href="{% static 'css' %}/medium-small/footer.css">

    <link rel="stylesheet" href="{% static 'css' %}/small/general.css">
    <link rel="stylesheet" href="{% static 'css' %}/small/logo.css">
    <link rel="stylesheet" href="{% static 'css' %}/small/navigation.css">
    <link rel="stylesheet" href="{% static 'css' %}/small/trending.css">
    <link rel="stylesheet" href="{% static 'css' %}/small/exposedNews.css">
    <link rel="stylesheet" href="{% static 'css' %}/small/devices.css">
    <link rel="stylesheet" href="{% static 'css' %}/small/lastNewsAndReviews.css">
    <link rel="stylesheet" href="{% static 'css' %}/small/pagination.css">
    <link rel="stylesheet" href="{% static 'css' %}/small/footer.css">

    <!-- SCRIPTS -->
    <script src="{% static 'js' %}/navigation.js"></script>
    <script src="{% static 'js' %}/loginRegister.js"></script>
    <script src="{% static 'js' %}/devices.js"></script>
</head>

<body>
<div class="content">

    {% include 'header.html' %}
    {% include 'navigation.html' %}
    {% include 'trending.html' %}

    <section class="singleNews">
            <img src="{% static 'images' %}/{{ novica.nvcSlika }}" alt="devicePic">
            <h2>{{ novica.nvcNaslov }}</h2>

            <div class="singleNewsMeta">
                <i class="fa fa-user" aria-hidden="true"></i>
                <p>{{ novica.nvcAvtor.upr.username }}</p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <p>{{ novica.nvcDatum|date:"d.m.Y" }}</p>
                <i class="fa fa-folder-o" aria-hidden="true"></i>
                <p>Novice</p>
                <i class="fa fa-comment-o" aria-hidden="true"></i>
                <p>3</p>
                <i class="fa fa-eye" aria-hidden="true"></i>
                <p>28227</p>
            </div>

            <p>{{ novica.nvcOpis }}</p>

            <p>{{ novica.nvcBesedilo }}</p>
    </section>

    <section class="author">
        <img src="{% static 'images' %}/author.jpg" alt="authorPic">
        <h2>{{ novica.nvcAvtor.upr.first_name }} {{ novica.nvcAvtor.upr.last_name }}</h2>

        <p>{{ novica.nvcAvtor.uprOpis }}</p>
    </section>

    <section class="comment">
        <h3>Comment</h3>
        <form method="POST" action="{% url 'commentNews' %}">
            {% csrf_token %}

            {{ commentForm.as_p }}

            <button class="commentButton" type="submit">Comment</button>
        </form>
    </section>

    <section class="viewComments">

        {% for komentar in komentarji %}

            <div class="singleComment">
                <h4>{{ komentar.kmtAvtor.upr.first_name }} {{ komentar.kmtAvtor.upr.last_name }}</h4>
                <p>{{ komentar.kmtBesedilo }}</p>
            </div>

        {% endfor %}

    </section>

    {% include 'footer.html' %}

</div>
</body>
</html>
