@media only screen
and (max-width: 767px) {
    .exposedNews {
        display: inline-block;
    }

    .bigNews, .smallNews {
        float: left;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .bigNews img, .smallNews img {
        -webkit-transition: all 500ms linear;
        -moz-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        -ms-transition: all 500ms linear;
        transition: all 500ms linear;
    }

    .bigNews:hover img, .smallNews:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .bigNewsImage img {
        width: 100%;
    }

    .smallNewsImage img {
        width: 100%;
    }

    /*news metadata*/
    .bigNewsInfo, .smallNewsInfo {
        width: 100%;
        position: absolute;
        top: 70%;
        text-align: center;
        color: white;
    }

    .bigNewsInfo h2, .smallNewsInfo h3 {
        font-size: 28px;
        font-weight: bolder;
        margin-bottom: 10px;
    }

    .bigNewsInfo p, .smallNewsInfo p {
        font-size: 14px;
        font-weight: bold;
    }

    .bigNewsMeta *, .smallNewsMeta * {
        display: inline-block;
    }

    /*small news SPECIAL STYLING*/
    /*small news metadata*/

    .smallNewsInfo h3 {
        font-size: 18px;
    }

    .smallNewsInfo p {
        font-size: 10px;
    }
}