@media only screen and (min-width: 1020px) and (max-width: 1199px) {

    footer {
        border-top: 20px solid #333333;
        width: 100%;
    }

    .aboutTop5 {
        width: 100%;
        background-color: #272727;
    }

    .about, .top5news, .top5reviews {
        width: 338px;
        height: 594px;
        float: left;
        position: relative;
        background-color: #272727;
    }

    .about, .top5news {
        border-right: 3px solid #333333;
    }

    /*  ABOUT   */
    .about .logo {
        margin: auto;
        margin-top: 75px;
    }

    .about p:first-of-type {
        margin-top: 50px;
    }

    .about p, .about h3 {
        margin-left: 30px;
        margin-right: 30px;
    }

    .about p {
        color: white;
    }

    .about h3 {
        color: #9e9e9e;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /* TOP 5 NEWS AND TOP 5 REVIEWS */
    .top5news h3, .top5reviews h3 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 45px;
    }

    .theNews, .theReview {
        height: 90px;
    }

    .theNews img, .theNewsInfo, .theReview img, .theReviewInfo {
        float: left;
    }

    .theNews img, .theReview img {
        margin-left: 20px;
        width: 60px;
    }

    .theNews h4, .theReview h4 {
        color: #c9c9c9;
    }

    .theNewsInfo, .theReviewInfo {
        margin-top: 10px;
        margin-left: 20px;
    }

    .theNewsMeta, .theReviewMeta {
        font-size: 12px;
        margin-bottom: 15px;
        color: #9e9e9e;
    }

    .theNewsMeta *, .theReviewMeta * {
        display: inline-block;
    }

}