@media only screen and (min-width: 1020px) and (max-width: 1199px) {
    .logo {
        width: 231px;
        height: 63px;

        margin-left: 30px;
        margin-bottom: 30px;
        padding-top: 15px;
    }

    .logo h1 {
        font-size: 40px;
    }

    .logo h5 {
        text-align: right;
        color: #9e9e9e;
    }
}