@media only screen and (min-width: 1020px) and (max-width: 1199px) {

    .pagination {
        text-align: center;
        margin-bottom: 28px;
    }

    .pagination * {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .pagination li a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
    }

    .pagination li a.active {
        background-color: #689fce;
        color: white;
        border: 1px solid #689fce;
    }

    .pagination li a:hover:not(.active) {
        background-color: #ddd;
    }

}
